<div class="menu_btn">
  <span class="menu_btn_burger"></span>
</div>
<nav class="nav" id="nav">
  <ul class="menu_nav">
      <li class="menu_nav_item menu_nav_item_1">
          <a href="#home" class="menu_nav_link" id="menu_nav_link">Home</a>
      </li>
      <li class="menu_nav_item menu_nav_item_2">
          <a href="#about" class="menu_nav_link" id="menu_nav_link">About Me</a>
      </li>
      <li class="menu_nav_item menu_nav_item_3">
          <a href="#projects" class="menu_nav_link" id="menu_nav_link">Project</a>
      </li>
      <li class="menu_nav_item menu_nav_item_4">
          <a href="#contact" class="menu_nav_link" id="menu_nav_link">Contact Me</a>
      </li>
  </ul>
</nav>