@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

$primary-color: hsl(0, 0%, 15%);
$secondary-color: hsl(12, 92%, 46%);
$heading: 'Bebas Neue', cursive;
$text: 'Montserrat', sans-serif;

@mixin transition-ease {
  transition: all 0.4s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) > 40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}
@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}
